body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.container {
    padding: 20px;
    text-align: center;
}

.header .coin-image {
    width: 200px;
    margin: 0 auto;
    shadow: 0 4px 8px rgba(243, 202, 18, 0.75);
}

.header h1 {
    font-size: 2em;
    margin: 10px 0;
}

.header p {
    font-size: 1em;
    color: #ccc;
}

.tasks-list {
    margin-top: 20px;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #11b3f9;
    padding:20px;
    border-radius: 20px;
    
   
}